language: python
cache: pip
sudo: required
dist: trusty

python:
  - "3.5.2"
  - "3.5"
  - "3.6"

install:
  - pip3 install codecov pytest pytest-cov
  - ./utils/scripts/jumpscale_install.sh
  - ./utils/scripts/travis_install.sh

script:
  - ./tests/prepare_env.sh
  - make test

after_success:
  - codecov
